<%= image_tag @pairing.user.picture_url %><%= image_tag @pairing.pair.picture_url %>
<div>
  <% if @pairing.id %>
    <%= link_to "No", rejected_pairings_path(user_id: current_user.id, pairing_id: @pairing.id), method: 'post' %>
  <% else %>
    <%= link_to "No", new_pairing_path(user_id: current_user.id) %>
  <% end %>
  <%= form_for @pairing do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :pair_id %>
    <%= f.submit "Yes" %>
  <% end %>
</div>
