<!DOCTYPE html>
<html>
<head>
  <title>Matchme</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js'></script>
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
</head>
<body>
  <% if current_user %>
    <div data-role="page" id="pageone">
      <div data-role="header" data-position="fixed">
        <div class="ui-grid-b">
          <div class="ui-block-a" style="text-align: left;">
            <%= link_to users_path, rel: :external do  %> <!-- root path until search implemented -->
              <i class="fa fa-search fa-4x"></i>
            <% end %>
          </div>
          <div class="ui-block-b" style="text-align: center;">
            <%= link_to user_path current_user do %>
              <span class="logo-text middle-item">MM</span>
            <% end %>
          </div>
          <div class="ui-block-c" style="text-align: right;">
            <a href='#popupDiv<%= @current_timestamp %>' data-rel="popup" data-transition="pop"><i class="fa fa-bars fa-4x"></i></a>
            <div id='popupDiv<%= @current_timestamp %>' data-role='popup'>
              <ul data-role="listview" class="listview" data-icon="false">
                <li><%= link_to "Logout", logout_path %></li>
                <li><%= link_to "View Profile", user_path(current_user) %></li>
                <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
              </ul>
            </div><!-- /popup -->
          </div>
        </div><!-- /grid-a -->
      </div>

      <div data-role="main" class="ui-content">
          <p><%= flash[:warn] %></p>
          <p><%= flash[:notice] %></p>
          <p><%= flash[:error] %></p>
          <div class="notification"></div>
          <button class="submit-notification" type="button">Notification</button>

        <%= yield %>

      <div class='footer' data-position="fixed" data-role="footer">
        <div class="ui-grid-b" style="text-align: left;">
          <div class="ui-block-a">
            <%= link_to user_path current_user do %>
              <i class="fa fa-users fa-3x"></i>
            <% end %>
          </div>
          <div class="ui-block-b" style="text-align: center;">
            <%= link_to new_pairing_path user_id: current_user.id  do %>
              <i class="fa fa-heartbeat fa-4x"></i>
            <% end %>
          </div>
          <div class="ui-block-c" style="text-align: right;">
            <%= link_to conversations_path user_id: current_user.id  do %>
              <i class="fa fa-inbox fa-4x"></i>
            <% end %>
          </div>
        </div><!-- /grid-a -->
      </div>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
</body>
</html>
